.Users {
    display: grid;
    grid-gap: 10px;
    grid-column-gap: 53px;
    grid-template-columns: 250px 250px 250px;
    align-items: center;
    justify-items: center;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.main-face {
    margin-top: 20px;
    margin-left: 20px;
}